{% extends 'tp/base.html' %}
{% block inlinecss %}
    <style>
        hr {
            border: 1px solid #272828;
        }
        .profile-container {
            width: 20%;
            height: 100%;
            position: fixed;
            top: 51.7px;
            left: 2;
            background-color: #0f0c1c;
        }
        .post-container {
            width: 100%;
            height: 100%;
            padding-top: 51.7px;
            padding-left: 20%;
            padding-right: 20%;
            overflow-x: hidden;
        }
        .profile-container, post-container {
            display: inline;
        }
        .container {
            padding-top: 10px;
            padding-left: 20px;
            padding-bottom: 10px;
            padding-right: 12%;
            color: grey;
            text-align: justify;
        }
    </style>
{% endblock %}
{% block signin %}
    <ul class="nav navbar-nav navbar-right">
        <li><h4 style="color: white;">Welcome, {{ user.first_name }}</h4></li>
    </ul>
{% endblock %}
{% block content %}
    <div class="profile-container">
        <div class="container">
            <h3 style="color: white">{{ user.first_name }}&nbsp;{{ user.last_name }}</h3>
            <h5>Student ID : {{ user_profile.student_id }}</h5>
            <h5>Branch : {{ user_profile.branch }}</h5>
            <h5>Birth Date : {{ user_profile.birth_date }}</h5>
            <h5>Allowed For Placements : {% if user_profile.allowed %}<span class="glyphicon glyphicon-ok"></span>{% else %}<span class="glyphicon glyphicon-remove"></span>{% endif %}</h5>
            <br><button type="button" class="btn btn-success">Logout</button>
        </div>
    </div>
    <div class="post-container">
    {% for post in posts %}
        <div class="panel panel-default" style="width: 135%">
            <div class="panel-heading"><h2>{{ post.title }}</h2></div>
            <div class="panel-body"><strong><p>{{ post.body }}</p></strong></div>
            <div class="panel-footer"><small><p>Posted by {{ post.user.first_name }}&nbsp;{{ post.user.last_name }} on {{ post.created }}</p></small></div>
        </div>
    {% endfor %}
    </div>
{% endblock %}